[submodule "external/libnfc"]
	path = external/libnfc
	url = https://github.com/nfc-tools/libnfc.git
[submodule "external/mfoc"]
	path = external/mfoc
	url = https://github.com/nfc-tools/mfoc.git
[submodule "external/mfcuk"]
	path = external/mfcuk
	url = https://github.com/nfc-tools/mfcuk.git
[submodule "external/mfoc-hardnested"]
	path = external/mfoc-hardnested
	url = https://github.com/nfc-tools/mfoc-hardnested.git
